body {
    display: flex;
}

#greenBlock {
    width: 500px;
    height: 300px;
    background-color: darkseagreen;  /* centreer horizontaal */
    position: absolute;
    left: calc(50% - (500px / 2))
}
