td {
    border: 1px dotted grey;
}
#vrijedag {
    background-color: rgb(250,120,120);
}
.dagen {
    color: rgb(200,190,140);
    background-color: rgb(35,37,70);
}
.vorige{
    background-color: grey;
}
thead{
    background-color: rgb(170,170,200);
}
table{
    border: 4px solid black;
}
tr:nth-child(2) > td:last-child, tr:nth-child(3) > td:first-child, tr:nth-child(3) > td:last-child,
tr:nth-child(4) > td:first-child, tr:nth-child(4) > td:last-child,
tr:nth-child(5) > td:first-child, tr:nth-child(5) > td:last-child,
tr:nth-child(6) > td:first-child
{
    background-color: rgb(255, 220, 220);
}