.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}

