

body section{
    width: 48%;
    border: 1px solid black;
    padding: 10px;
    float: left;
    box-sizing: content-box;
    margin-right: 10px;
}

/**body section{
    width: 550px;
    border: 1px solid black;
    padding: 10px;
    float: left;
}*/

