.color{
	border-radius: 5px;
	display: inline-block;
}

section{
	border: 15px solid lightgrey;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

div{
	text-align: center;
	margin: 5px;
}

div.color{
	grid-column-start: 1;
	grid-column-end: 4;
}
