body {
    margin: 0;
    padding: 0;
    background: lightskyblue;
    font-family: Chalkboard, sans-serif;
}

h1 {text-align: center;}

.container {
    margin: 0 auto;
    width: 80%;

}


.border {border: 2px solid black;}


/* Start instellingen FlexBox */
section {
    background: coral;
    height: 500px;
    display: flex;
     /* alle items behouden dezelfde grootte om ze in de container te bewaren */
    /* align items staat altijd default op stretch, heeft ook effect op maar 1 rij*/
    /* align content heeft impact op meerdere rijen*/
}

.grey-box {
    background: grey;
    width: 100%;
    margin:10px;
    padding:20px;
    font-size: 2em;

}
