/* items */
@media only screen and (min-width: 760px) {
    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 20px;

    }

    .item-1, .item-6{
        display: none;
        visibility: hidden;

    }

    .item-9{
        order: -1;
    }

    .item-2{
        order: 2;
    }

    .item-4{
        order: 3;
    }

    .item-5{
        order: 4;
    }

    .item-7{
        order: 5;
    }

    .item-8{
        order: 6;
    }

    .item-3{
        order: 7;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

section div {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

/* specific item styles */

.item-1 {
    background: #b03532;
}
.item-2 {
    background: #33a8a5;
}
.item-3 {
    background: #30997a;
}
.item-4 {
    background: #6a478f;
}
.item-5 {
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
}
.item-9 {
    background: #4464a1;
}


