div {
	text-align: center;


}

.area {
width:100px;
height:100px;
background:red;
display: inline-block;
	line-height: 600%;

}

.tall {
height:150px;
	line-height: 500%;
}

.short {
height:50px;
	line-height: 500%;
}

.floaty{
float:left;
background:green;
}

.break {
clear:both;
background:blue;
}