body {
    width: 90%;
    background-color: beige;
    margin: auto;
}

#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
nav {
    float:left;
    height: 200px;
    width: 20%;
    background-color: white;
}
section {
    float: left;
    background-color: red;
    width: 70%;
    height: 200px;
}
section#midden {
    box-sizing: border-box;
}
footer {
    display: inline-block;
    background-color: green;
    height: 150px;
    width: 90%;
    text-align: center;
}

nav a {
    text-decoration: none;
}
nav li {
    list-style:none;
}
/* span, a en img -> altijd een inline element */
.breedte {
    display: block;
    width: 400px;
    background-color: green;
    margin: 20px;
    padding:10px;
}