body {
    font-family: Helvetica;
}
body a{
    color:red;
}
h1 {
    font-size: 80px;

}
h2{
    font-size: 40px;
}
header h1 {
    color:#EDF2F4;
}
header h2{
    color:#EDF2F4;
}

header {
    padding:30px;
    color:#8D99AE;
    background-color: #2B2D42;
    margin-bottom:10px;
}

footer{
    padding:30px;
    color:#8D99AE;
    background-color: #2B2D42;
    margin-top: 10px;
}

.education{
    padding:30px;
    background-color: #8D99AE;
}