html{
    margin-top: 0;
}
.header{
    background-image: url("../header.jpg");
    height: 100px;
}

section > .header > h1{
    font-size: 50px;
    text-align: left;
    padding-bottom: -5px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

article {
    padding-top: 10px;
    background-color: lightgray;
}

.menu{
    margin-top: 0;
    background-color: grey;
}
.menu > a{
    color: lawngreen;
    font-size: 20px;
}

article > header > h1{
    font-size: 30px;
    text-decoration: underline;
    color: #343734;
}
footer {
    margin-bottom: 5px;
}
