body{
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p{
    margin: 0;
}
header {

    text-align:center;
    background-color:lightsteelblue;
}

#left {
    background-color:lightblue;
    min-height: 200px;
    width: 75%;
    float:left;
}

#right {
    background-color:lightcoral;
    min-height: 200px;
    float:left;
    width: 25%;

}

footer {
    clear: both;
    text-align: center;
    background-color:lightgreen;
}