body{
    margin: 0px;
    background-color: #EDF2F4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

header h1 {
    margin:0px;
    color: red;
}

header{
    background-size: cover;
    height: 450px;
    background-repeat: no-repeat;
    background-image: url("../images/header.jpg");
    background-color: #FFFFFF;
}